name: YouTube Cloud Downloader

on:
  workflow_dispatch:
    inputs:
      video_url:
        description: 'YouTube Video URL'
        required: true
      format:
        description: 'Format (mp4 oder mp3)'
        default: 'mp4'
        type: choice
        options:
        - mp4
        - mp3

jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install yt-dlp & ffmpeg
        run: |
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp
          sudo apt-get update && sudo apt-get install ffmpeg -y

      - name: Download Video
        run: |
          if [ "${{ github.event.inputs.format }}" = "mp3" ]; then
            yt-dlp -x --audio-format mp3 "${{ github.event.inputs.video_url }}" -o "downloaded_file.%(ext)s"
          else
            yt-dlp -f "bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best" "${{ github.event.inputs.video_url }}" -o "downloaded_file.%(ext)s"
          fi

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: YouTube-Download
          path: downloaded_file.*
